# Ipython notebook highlighting the data cleaning process of two World Bank Datasets

GDP ranking : http://data.worldbank.org/data-catalog/GDP-ranking-table <br>
Population ranking: http://data.worldbank.org/data-catalog/Population-ranking-table <br>

In [80]:
#Import pandas for the cleaning process
import pandas as pd

In [30]:
gdp = pd.read_csv('F:\\Python Scripts\\datasets\\GDP.csv', skiprows = [0,1,2], skipfooter = 39, usecols = [0,1,3,4], encoding='iso-8859-1')
pop = pd.read_csv('F:\\Python Scripts\\datasets\\POP.csv', skiprows = [0,1,2,236,237,238,239], encoding='iso-8859-1', usecols = [0,1,3,4])

F:\Users\Mreenav\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [31]:
print(gdp.shape)
gdp.head()

(286, 4)

  Unnamed: 0 Ranking        Economy   US dollars)
0        NaN     NaN            NaN           NaN
1        USA       1  United States   18,036,648
2        CHN       2          China   11,064,665
3        JPN       3          Japan    4,383,076
4        DEU       4        Germany    3,363,447

In [32]:
print(pop.shape)
pop.head()

(320, 4)

  Unnamed: 0  Ranking        Economy (thousands)
0        NaN      NaN            NaN         NaN
1        CHN      1.0          China   1,371,220
2        IND      2.0          India   1,311,051
3        USA      3.0  United States     321,419
4        IDN      4.0      Indonesia     257,564

In [33]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 4 columns):
Unnamed: 0     229 non-null object
Ranking        204 non-null object
Economy        229 non-null object
US dollars)    229 non-null object
dtypes: object(4)
memory usage: 9.0+ KB

In [34]:
#Renaming the columns
gdp.columns = ['Code', 'Ranking', 'Country', 'GDP']
pop.columns = ['Code', 'Ranking', 'Country', 'Population']

In [37]:
gdp1 = gdp[['Code', 'GDP']].copy()
gdp1.head()

  Code           GDP
0  NaN           NaN
1  USA   18,036,648
2  CHN   11,064,665
3  JPN    4,383,076
4  DEU    3,363,447

In [38]:
#Merging the two datasets
df = pd.merge(left = gdp1, right = pop, on = 'Code')
df.head()

  Code  GDP  Ranking Country Population
0  NaN  NaN      NaN     NaN        NaN
1  NaN  NaN      NaN     NaN        NaN
2  NaN  NaN      NaN     NaN        NaN
3  NaN  NaN      NaN     NaN        NaN
4  NaN  NaN      NaN     NaN        NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5416 entries, 0 to 5415
Data columns (total 5 columns):
Code          229 non-null object
GDP           229 non-null object
Ranking       217 non-null float64
Country       229 non-null object
Population    229 non-null object
dtypes: float64(1), object(4)
memory usage: 253.9+ KB

In [47]:
#We drop the rows with NaN values
df = df.drop(df.index[0:5187])

In [53]:
df.reset_index()
df.head()

     Code           GDP  Ranking         Country Population
5187  USA   18,036,648       3.0   United States    321,419
5188  CHN   11,064,665       1.0           China  1,371,220
5189  JPN    4,383,076      11.0           Japan    126,958
5190  DEU    3,363,447      16.0         Germany     81,680
5191  GBR    2,861,091      22.0  United Kingdom     65,129

In [54]:
df.columns

Index(['Code', 'GDP', 'Ranking', 'Country', 'Population'], dtype='object')

In [55]:
del df['Ranking']

In [56]:
df.head()

     Code           GDP         Country Population
5187  USA   18,036,648    United States    321,419
5188  CHN   11,064,665            China  1,371,220
5189  JPN    4,383,076            Japan    126,958
5190  DEU    3,363,447          Germany     81,680
5191  GBR    2,861,091   United Kingdom     65,129

In [57]:
df = df.reset_index()

In [58]:
df.head()

   index Code           GDP         Country Population
0   5187  USA   18,036,648    United States    321,419
1   5188  CHN   11,064,665            China  1,371,220
2   5189  JPN    4,383,076            Japan    126,958
3   5190  DEU    3,363,447          Germany     81,680
4   5191  GBR    2,861,091   United Kingdom     65,129

In [59]:
del df['index']

In [60]:
df.head()

  Code           GDP         Country Population
0  USA   18,036,648    United States    321,419
1  CHN   11,064,665            China  1,371,220
2  JPN    4,383,076            Japan    126,958
3  DEU    3,363,447          Germany     81,680
4  GBR    2,861,091   United Kingdom     65,129

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 4 columns):
Code          229 non-null object
GDP           229 non-null object
Country       229 non-null object
Population    229 non-null object
dtypes: object(4)
memory usage: 7.2+ KB

In [67]:
#funtion to convert string to number
import re
def convertmoney(row):
    new = re.sub("[^\d\.]", "", row.GDP)
    return new

df['GDP_Clean'] = df.apply(convertmoney, axis = 1)

In [68]:
df.head()

  Code           GDP         Country Population GDP_Clean
0  USA   18,036,648    United States    321,419  18036648
1  CHN   11,064,665            China  1,371,220  11064665
2  JPN    4,383,076            Japan    126,958   4383076
3  DEU    3,363,447          Germany     81,680   3363447
4  GBR    2,861,091   United Kingdom     65,129   2861091

In [69]:
def populationclean(row):
    new = re.sub('[^\d\.]','', row.Population)
    return new
df['Population_Clean'] = df.apply(populationclean, axis = 1)
df.head()

  Code           GDP         Country Population GDP_Clean Population_Clean
0  USA   18,036,648    United States    321,419  18036648           321419
1  CHN   11,064,665            China  1,371,220  11064665          1371220
2  JPN    4,383,076            Japan    126,958   4383076           126958
3  DEU    3,363,447          Germany     81,680   3363447            81680
4  GBR    2,861,091   United Kingdom     65,129   2861091            65129

In [70]:
del df['GDP']
del df['Population']

In [71]:
df.head()

  Code         Country GDP_Clean Population_Clean
0  USA   United States  18036648           321419
1  CHN           China  11064665          1371220
2  JPN           Japan   4383076           126958
3  DEU         Germany   3363447            81680
4  GBR  United Kingdom   2861091            65129

In [72]:
df.columns = ['Code', 'Country', 'GDP', 'Population']
df.head()

  Code         Country       GDP Population
0  USA   United States  18036648     321419
1  CHN           China  11064665    1371220
2  JPN           Japan   4383076     126958
3  DEU         Germany   3363447      81680
4  GBR  United Kingdom   2861091      65129

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 4 columns):
Code          229 non-null object
Country       229 non-null object
GDP           229 non-null object
Population    229 non-null object
dtypes: object(4)
memory usage: 7.2+ KB

In [75]:
df.GDP = pd.to_numeric(df.GDP, errors = 'coerce')
df.Population = pd.to_numeric(df.Population, errors = 'coerce')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 4 columns):
Code          229 non-null object
Country       229 non-null object
GDP           211 non-null float64
Population    229 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.2+ KB

In [77]:
df.head()

  Code         Country         GDP  Population
0  USA   United States  18036648.0      321419
1  CHN           China  11064665.0     1371220
2  JPN           Japan   4383076.0      126958
3  DEU         Germany   3363447.0       81680
4  GBR  United Kingdom   2861091.0       65129

In [79]:
df.to_csv('F:\\Python Scripts\\datasets\\world_bank.csv')